.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;
}

.main-loggedIn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}

.main-header > nav {
    display: flex;
    gap: 20px;
}